@media screen and (max-width: 900px) {
    #container-aboutme {
        background-size: 150%;
    }
    #my-portfolio {
        background-size: 150%;
    }
    #my-skills {
        background-size: 150%;
    }
    h1 {
        font-size: 50px;
    }
    .added {
        font-size: 20px;
    }
    .slider-arrows a {
        font-size: 6vw;
    }

}

@media screen and (max-width: 768px) {
    #container-head {
        background-size: 150%;
    }
    #container-aboutme {
        background-size: 180%;
        background-image: none;
    }
    #my-portfolio {
        background-size: 220%;
    }
    #my-skills {
        background-size: 180%;
    }
    #skills {
        background-image: none;
    }
    h1 {
        font-size=30px;
    }
    #text {
        font-size: 14px;
    }
    #container-skills {
        font-size: 14px;
    }
    .neonlight {
        font-size: 14px;
    }
    .added {
        font-size: 15px;
    }
    .slider-arrows a {
        font-size: 8vw;
    }
    #slider .cover-dark {
        opacity: 1;
    }
    .added {
        font-size: 3vw;
    }
    .single-slide .links-portfolio a {
        font-size: 10vw;
    }
    .social {
        font-size: 23px;
    }
    #text>p {
        padding-bottom: 40px;
    }
    #head {
        height: 100vh;
    }
    .cover-black {
        height: 100%;
        background: rgba(1, 1, 1, 0.8);
        /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(rgba(1, 1, 1, 1), rgba(1, 1, 1, 0.7), rgba(1, 1, 1, 1));
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(rgba(1, 1, 1, 1), rgba(1, 1, 1, 0.7), rgba(1, 1, 1, 1));
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(rgba(1, 1, 1, 1), rgba(1, 1, 1, 0.7), rgba(1, 1, 1, 1));
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(rgba(1, 1, 1, 1), rgba(1, 1, 1, 0.7), rgba(1, 1, 1, 1));
        /* Standard syntax */
    }
    #name {
        padding-top: 50px;
        font-size: 12vw;
    }
    .image-container {
        padding-top: 100px;
    }
    .front-end {
        padding-top: 30px;
        font-size: 9vw;
    }
    .graphic {
        padding-top: 20px;
        font-size: 8vw;
    }
}